@import 'assets/bootstrap.min.css';
@import 'assets/bootstrap-grid.min.css';

.center-box {
  margin: auto;
  width: 50%;
  border: 3px solid navy;
  padding: 10px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
